__pycache__/
*.pyc

.venv/
venv/
env/

.streamlit/secrets.toml

results/
experiments/
images/

*_backup.py

python
threshold

models/model_200_images.pth
models/one_image_test.pth

*.log
*.tmp

.DS_Store
Thumbs.db